.pur{
  width: 100%;
  height: 60px;
  background-color: #b077d8;
}
.sam{
  width: 1170px;
  height: 60px;
  margin: auto;
}
.grey{
  width: 100%;
  height: 32px;
  background-color: #f1f1f2;
}
.pop{
  background-color: white;
  padding: 8px 0px;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.pop .imgg img{
  width: 120px;
  /* height: 30px; */
}
.imgg{
  width: 222px;
}
.inp{
  width: 641px;
}
.say{
  border: 2px solid gainsboro;
  padding: 0px 10px;
  border-radius: 5px;
  z-index: 2;
}
.say i{
  font-size: 18px;
  padding: 0px 8px;
  /* font-weight: 600; */
}
.say input{
  padding: 0px 0px 0px 8px;
  border: none;
  outline: none;
  z-index: 2;
}
.drp{
  width: 320px;
}
.drp1{
  width: max-content;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: lighter;
}
.drp1 b{
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropdown :hover{
  color: #f68b1e;
}
.sea{
  background-color: #f68b1e;
  font-size: 18px; 
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bg{
  width: 100%;
  height: 145vh;
  background-image: url(./images/Jumia-cover-you-bg.jpg);
  background-repeat: no-repeat;
}
.one{
  width: 220px;
  height: 378px;
  background-color: white;
  /* z-index: -1; */
}
.one i{
  font-size: 15px;
}
.one p{
  gap: 10px;
  font-size: 12px;
  margin-top: 9px;
  margin-bottom: 0px;
  text-align: start;
  padding-left: 20px;
}
.one p:hover{
  color: #f68b1e;
}
.four{
  width: 220px;
  height: 378px;
  /* background-color: blue; */
}
.two{
  width: 700px;
  height: 379px;
  z-index: 4;
  /* background-color: yellow; */
}
.three{
  width: 220px;
  height: 180px;
  /* background-color: aqua; */
}
.bor{
  border-radius: 5px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
